* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.medicalHistory {
 display: flex;
 align-self: self-start;
 flex-direction: column;
 gap: 5px;
 background-color: white;
 width: 50vw;
}

#patientId {
 color: black;
}

#title {
 color: black;
}

.medicalHistory div {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 width: 100%;
}

.app-container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
}

.form-container h1, h2 {
 color: #2c3e50;
 font-weight: bold;
 font-size: 30px;
 text-align: center;
}

.form-container {
 padding: 150px 30px;
 margin-bottom: 30px;
 display: flex;
 justify-content: center;
 flex-direction: column;

}

.form-group {
 margin-bottom: 15px;
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 width: 40vw;
}

.former-group {
 margin-top: 10vh;
}

.form-group label {
 display: block;
 font-weight: bold;
}

.form-group input,
.form-group textarea {
 width: 100%;
 padding-left: 8px;
 padding-right: 150px;
 padding-top: 8px;
 padding-bottom: 8px;
 border: 1px solid black;
 border-radius: 4px;
 box-sizing: border-box;
}

.form-group textarea {
 resize: vertical;
}

#inputspecialty {
 width: 30vw;
}

#add-button {
 background-color: #08866e;
 color: white;
 border: none;
 padding: 10px 20px;
 border-radius: 4px;
 cursor: pointer;
 font-size: 16px;
}